main {

  min-height : 20vh;
}
.carousel-wrapper {
  top: 563px;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px
}
.font-link {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.moving {
  font-family: "Lucida Console", "Courier New", monospace;
}